*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

.h1{
	font-family: 'Luckiest Guy', cursive;
	color:#8a25b1;
}

.h2, .h3, .h4{
	font-family: 'Luckiest Guy', cursive;
}

.page-1{
	background-color: #ecdeef;
}

.img-slide{
	height: 100%;
	max-width: auto;
	width: 100%;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

/*GALLERY*/

.thumbnail:hover{
	transform: scale(1.1);
}

.thumbnail{
	width: 100%;
	max-width: auto;
	height: 100%;
	padding-bottom: 2px;
	border:1px solid #ddd;
}

/*ABOUT-PAGE*/
.title{
	font-family: 'Luckiest Guy', cursive;
	padding-top: 1em;
}

/*CONTACT-PAGE*/
.map{
	width: 100%;
	max-width: auto;
	height: 100%;
	border:1px solid #ddd;}

.google-maps {
	position: relative;
	padding-bottom: 25%; // This is the aspect ratio
	height: 0;
	overflow: hidden;
}

.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

/*SERVICE-PAGE*/
.banner{
	background-color: #ecdeef;
}

.service-img{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	padding-top: 60px;
  	width: 100%;
}

/*FOOTER*/
.footer{
	color: white;
	background-color: #8a489a;
}

.social-media a{
	color: white;
	opacity: .75;
}

.social-media a:hover{
	opacity: 1;
}

/*media queries*/
@media only screen and (max-width: 600px){
	.h1{
		font-size: 22px;
	}
	.h2{
		font-size: 17px;
	}
	.h3{
		font-size: 14px;
	}
	.h4{
		font-size: 11px;
	}
	.h5, .paragraph-1{
		font-size: 10px;
	}
	.menu, .footer{
		font-size: 10px;
	}
	.contact, .form-control, .btn{
	font-size: 12px;
	}
	.title{
		font-size: 30px;
	}
	.social-media{
		font-size: 22px;
	}
}

@media only screen and (min-width: 601px){
	.h1{
		font-size: 24px;
	}
	.h2{
		font-size: 19px;
	}
	.h3{
		font-size: 16px;
	}
	.h4{
		font-size: 12px;
	}
	.h5, .paragraph-1{
		font-size: 11px;
	}
	.menu, .footer{
		font-size: 11px;
	}
	.contact, .form-control, .btn{
	font-size: 14px;
	}
	.title{
		font-size: 34px;
	}
	.social-media{
		font-size: 24px;
	}
}

@media only screen and (min-width: 768px){
	.h1{
		font-size: 26px;
	}
	.h2{
		font-size: 21px;
	}
	.h3{
		font-size: 16px;
	}
	.h4{
		font-size: 14px;
	}
	.h5, .paragraph-1{
		font-size: 12px;
	}
	.menu, .footer{
		font-size: 12px;
	}
	.contact, .form-control, .btn{
	font-size: 16px;
	}
	.title{
		font-size: 36px;
	}
	.social-media{
		font-size: 26px;
	}
}

@media only screen and (min-width: 992px){
	.h1{
		font-size: 28px;
	}
	.h2{
		font-size: 23px;
	}
	.h3{
		font-size: 18px;
	}
	.h4{
		font-size: 16px;
	}
	.h5, .paragraph-1{
		font-size: 14px;
	}
	.menu, .footer{
		font-size: 14px;
	}
	.contact, .form-control, .btn{
	font-size: 18px;
	}
	.title{
		font-size: 38px;
	}
	.social-media{
		font-size: 28px;
	}
}

@media only screen and (min-width: 1200px){
	.h1{
		font-size:30px;
	}
	.h2{
		font-size: 25px;
	}
	.h3{
		font-size: 20px;
	}
	.h4{
		font-size: 18px;
	}
	.h5, .paragraph-1{
		font-size: 16px;
	}
	.menu, .footer{
		font-size: 16px;
	}
	.contact, .form-control, .btn{
	font-size: 20px;
	}
	.title{
		font-size: 40px;
	}
	.social-media{
		font-size: 30px;
	}
}